@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --header-height: 3.5rem;

    /* ======Colors======= */
    --title-color:hsl(0,0%,95%);
    --text-color:hsl(0,0%,70%);
    --text-color-light:hsl(0,0%,60%);
    --body-color:hsl(0,0%,0%);
    --container-color:hsl(0,0%,8%);

    /* ======Font and Typography===== */
    --body-font: "Poppins",sans-serif;
    --second-font: "Monsterrat", sans-serif;
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ===Font Weight=== */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ===== Z index ==== */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* ===== Responsive Typpgraphy ==== */
     @media screen and (min-width: 1152px) {
        :root{
            --biggest-font-size: 5.5rem;
            --h1-font-size: 2.5rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
     }

}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.bgc {
    display: flex; 
    justify-content: center;
    align-items: flex-end; 
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    background-image: url(/images/1bg1.png);
    background-size: cover;
    background-position: center;
    animation: animate1 30s ease-in-out infinite;
    position: relative;
    
}

@keyframes animate1 {
    0%,100%{
        background-image: url("/images/1bg1.png");
    }
    25%{
        background-image: url("/images/1bg2.png");
    }
    50%{
      background-image: url("/images/1bg3.png");
    }
    70%{
        background-image: url("/images/1bg1.png");
    }
    100%{
        background-image: url("/images/1bg2.png");
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
}

.card {
    flex: 1 1 calc(25% - 40px);
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    backdrop-filter: blur(10px);
}

.card i {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.card h5 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #666;
}

@media (max-width: 992px) {
    .card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 40px);
    }
}

/*start of header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: all 0.5s;
}

header.scrolled {
    background-color:rgba(58, 71, 65, 0.6); 
    backdrop-filter: blur(15px);
    transition: background-color 1s ease-in-out;
    height: 65px;
}

.logo img {
    width: 100x; 
    height: 49px; 
    margin-bottom: 5px;
    user-select: none;
}

li{
    list-style: none;
}


.links a{
    text-decoration:none;
    color:#3A4741;
    font-size: 1rem;

}


.links a:hover{
    color: #D5E4CF;
    transform-origin: left;
    transform: scaleX(1);
}

/* header{
    position: absolute;
    padding: 0 2rem;

} */

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    padding-top: 11px;
}

.navbar .toggle_btn{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

.action_button{
    text-decoration:none;
    color: #D5E4CF;
    font-size: 1rem;
    background-color: #3A4741;
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_button:hover{
    scale: 1.05;
    color: #AFC2AE;
}

.action_button:active{
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    position: fixed;
    right: 2rem;
    top: 60px;
    margin-top: 10px;
    height: 0;
    width: 300px;
    background: rgba(58, 71, 65, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
}

.dropdown_menu.open {
    height: 320px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_button{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #D5E4CF;
}

.dropdown_menu a{
    text-decoration:none;
    color: #3A4741;
    font-size: 1rem;
}


@media (max-width:992px) {
    .navbar .links,
    .navbar .action_button{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .card{
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .home__container {
        padding: 0 20px;
    }

    .home__title {
        font-size: 2rem;
    }

    .home__subtitle,
    .home__description {
        font-size: 1.2rem;
    }

    .button {
        padding: 8px 16px;
        font-size: 1rem;
    }

    /* .card{
        max-width: 80%;
    } */
}

@media (max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* ====Announcement Part====== */

.shadow{
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
                            hsla(0,0%,0%,0)58%,
                            hsl(0,0%,0%)75%);
}

.card-group{
    display: flex;
    align-content: center;
    justify-content: center;
    /* align-items: flex-start; */
} 
 .carousel-container {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    background: url(/images/AnnounceBg.png) no-repeat center center;
    background-size: cover;
    
} 

.carousel-container h3{
    color: white;
    font-family: monospace;
    font-weight: 700;
    padding-top: 30px;
    margin-left: 100px;
}

.line{
    width: 100px;
    height: 4px;
    background: white;
    margin-left: 100px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
    
}

.card {
    width: 300px; /* Adjust as needed */
    margin: 10px;
}



/* ======== ADMISSION PROCEDURE ====== */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left {
    flex: 1;
    padding: 20px;
  }
  
  .right {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.6;
  }
  
  button {
    display: block;
    width: 30%;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
  
    .left, .right {
      flex: auto;
      width: 100%;
      padding: 10px;
    }
  }

/* ====== NEWS AND UPDATES */
.news-container{
    max-width: 100%;
    background: url(/images/NUbg.jpg) no-repeat center center;
    background-size: cover;
}
.news .image-box{
    height: 200px;
}

.news .image-box img{
    height: 100%;
}



