@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
    --header-height: 3.5rem;

    /* ======Colors======= */
    --title-color:hsl(0,0%,95%);
    --text-color:hsl(0,0%,70%);
    --text-color-light:hsl(0,0%,60%);
    --body-color:hsl(0,0%,0%);
    --container-color:hsl(0,0%,8%);

    /* ======Font and Typography===== */
    --body-font: "Poppins",sans-serif;
    --second-font: "Monsterrat", sans-serif;
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ===Font Weight=== */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ===== Z index ==== */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* ===== Responsive Typpgraphy ==== */
     @media screen and (min-width: 1152px) {
        :root{
            --biggest-font-size: 5.5rem;
            --h1-font-size: 2.5rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
     }

}
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
    background-image: url('../images/schoolbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
} */

/*start of header*/
.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: transparent;
    background-color: rgba(55, 71, 65, 0.6);
    backdrop-filter: blur(20px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: all 0.5s;
}

.nav-header.scrolled {
    background-color:rgb(155, 167, 156, 0.7); 
    backdrop-filter: blur(15px);
    transition: background-color 1s ease-in-out;
    height: 50px;
}

.logo img {
    width: 45px; 
    height: auto; 
    margin-bottom: 5px;
    user-select: none;
}


li{
    list-style: none;
}


.links a{
    text-decoration:none;
    color:#D5E4CF;
    font-size: 1rem;
    font-weight: 600;
}


.navbar .links a:hover {
    color: #3A4741;
    transform-origin: left;
    transform: scaleX(1);
}

.navbar{

    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.nav-item {
    margin-left: 1rem;
}

/* Ensure no unwanted Bootstrap styles affect the navbar */
.navbar .nav-link {
    padding: 0;
    color: #3A4741;
}

.navbar .logo {
    margin-top: 7px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #D5E4CF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    padding-top: 11px;
}

.navbar .toggle_btn{
    color: #D5E4CF;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

.action_button{
    text-decoration:none;
    color: #D5E4CF;
    font-size: 1rem;
    background-color: #586760;
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_button:hover{
    scale: 1.05;
    color: #AFC2AE;
}

.action_button:active{
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    position: fixed;
    right: 2rem;
    top: 60px;
    margin-top: 10px;
    height: 0;
    width: 300px;
    background: rgba(58, 71, 65, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
}

.dropdown_menu.open {
    height: 320px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_button{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #D5E4CF;
}

.dropdown_menu a{
    text-decoration:none;
    color: #D5E4CF;
    font-size: 1rem;
    font-weight: 600;
}

.dropdown_menu a:hover{
    color: #3A4741;
}

/* Display Flex Container */
.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    
}

.icon {
    font-size: 2rem;
    color: #3A4741;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    color: #3A4741;
}

/* Responsive Styles */
@media (max-width:992px) {
    .navbar .links,
    .navbar .action_button{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .card{
        max-width: 90%;
    }
}


@media (max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
