body {
	background: url('images/schoolbg.png');
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 991px) {
	.sidebar {
		background-color: aqua;
		backdrop-filter: blur(10px);
	}
}