* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body  {
	height: 100vh;
	background-color: white;
	background-image: url('../images/schoolbg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

li {
	list-style: none;

}


a{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
	color:#000;
	font-size: 1rem;

}

a:hover {
	color: orange
}

/*HEADER*/

header{
	padding: 0 2rem;
	position: sticky;
	top: 0;
}

.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*
.navbar .logo a{
	font-size: 1.5rem;
	font-weight: bold;
}
	*/

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .toggle_btn {
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.action_btn{
	background-color: #9BA79C;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
	transition: scale 0.2 ease;
}

.action_btn:hover{
	scale: 1.05;
	color: #fff;
}

.action_btn:active{
	scale: 0.95;
}

/*DROPDOWN MENU */

.dropdown_menu{
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	height: 0;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
	height: 280px;
}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .action_btn{
	width: 100%;
	display: flex;
	justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px){
	.navbar .links,
	.navbar .action_btn {
		display: none;
	}

	.navbar .toggle_btn{
		display: block;
	}
	
	.dropdown_menu{
		display: block;
	}
}

@media (max-width: 576px) {
	.dropdown_menu {
		left: 2rem;
		width: unset;
	}
}